@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
  width: 100%;
}

.containerTracker {
  width: 70%;
  height: 12vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(58, 57, 57);
  margin: 20px auto;
  padding: 20px;
  color: azure;
  font-size: 20px;
  border-radius: 10px;
}
.containerTracker h1 {
  font-size: 20px;
  padding: 10px;
  border: 3px solid rgb(53, 131, 105);
  border-radius: 10px;
  cursor: pointer;
}
.containerTracker h1:hover {
  border: 3px solid azure;
  color: rgb(53, 131, 105);
}

.containerTracker > div input {
  width: 70px;
  padding: 10px 20px;
  margin: auto;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  font-family: "Exo 2", sans-serif;
}
.containerTracker > div {
  margin: 5px;
}
.containerTracker > div select {
  width: 120px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: rgb(58, 57, 57);
  outline: none;
}

.containerTracker > div button {
  width: 110px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: azure;
  background-color: rgb(53, 131, 105);
  cursor: pointer;
}
.containerTracker > div button:hover {
  background-color: azure;
  color: rgb(53, 131, 105);
}

.listExpense {
  width: 72%;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}
.listHead {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: auto;
  background-color: rgb(53, 131, 105);
}
.headContent {
  width: 100%;
  border: 1px solid rgb(58, 57, 57);
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  color: azure;
  padding: 20px;
}

.listBody {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.listcontent {
  width: 100%;
  border: 1px solid rgb(58, 57, 57);
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  color: rgb(58, 57, 57);
  padding: 20px;
}
.btnDelete {
  font-family: "Exo 2", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: azure;
  background-color: brown;
  padding: 8px 20px;
  border: none;
  border-radius: 10px;
}
.listFoot {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.gesamt {
  width: 100%;
  border: 1px solid rgb(58, 57, 57);
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  color: rgb(58, 57, 57);
  padding: 20px;
}
.title {
  background-color: rgb(25, 103, 77);
  color: azure;
}
